name: "code-coverage-report"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - main
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm ci
      - run: npm run test >> "${GITHUB_STEP_SUMMARY}"
      - uses: ./
        id: code_coverage_report_action
        with:
          badge: true
          filename: "coverage/clover.xml"
